@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-md-4">
        <h2>Assets</h2>
        <p>Listagem de todos os Assets e suas devidas informações</p>
        <p><a class="btn btn-default" href="~/Assets">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos de Assitência</h2>
        <p>Listagem de todos os Pedidos de Assistência e suas devidas informações</p>
        <p><a class="btn btn-default" href="~/Assistances">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contratos</h2>
        <p>Listagem de todos os Contratos e suas devidas informações</p>
        <p><a class="btn btn-default" href="~/Contracts">Learn more &raquo;</a></p>
    </div>
</div>